:root {
--ck-z-default: 1;
--ck-z-panel: calc( 1 + 999 );
--ck-z-dialog: 9999;
--ck-powered-by-line-height: 10px;
--ck-powered-by-padding-vertical: 2px;
--ck-powered-by-padding-horizontal: 4px;
--ck-powered-by-text-color: hsl(0, 0%, 31%);
--ck-powered-by-border-radius: 2px;
--ck-powered-by-background: hsl(0, 0%, 100%);
--ck-powered-by-border-color: hsl(218, 81.8%, 56.9%);
--ck-border-radius: 2px;
--ck-color-base-foreground: hsl(0, 0%, 98%);
--ck-color-base-background: hsl(0, 0%, 100%);
--ck-color-base-border: hsl(220, 6%, 81%);
--ck-color-base-action: hsl(104, 50.2%, 42.5%);
--ck-color-base-focus: hsl(209, 92%, 70%);
--ck-color-base-text: hsl(0, 0%, 20%);
--ck-color-base-active: hsl(218.1, 100%, 58%);
--ck-color-base-active-focus: hsl(218.2, 100%, 52.5%);
--ck-color-base-error: hsl(15, 100%, 43%);
--ck-color-focus-border-coordinates: 218, 81.8%, 56.9%;
--ck-color-focus-border: hsl(218, 81.8%, 56.9%);
--ck-color-focus-outer-shadow: hsl(212.4, 89.3%, 89%);
--ck-color-focus-disabled-shadow: hsla(209, 90%, 72%,.3);
--ck-color-focus-error-shadow: hsla(9,100%,56%,.3);
--ck-color-text: hsl(0, 0%, 20%);
--ck-color-shadow-drop: hsla(0, 0%, 0%, 0.15);
--ck-color-shadow-drop-active: hsla(0, 0%, 0%, 0.2);
--ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);
--ck-color-button-default-background: transparent;
--ck-color-button-default-hover-background: hsl(0, 0%, 94.1%);
--ck-color-button-default-active-background: hsl(0, 0%, 94.1%);
--ck-color-button-default-disabled-background: transparent;
--ck-color-button-on-background: hsl(212, 100%, 97.1%);
--ck-color-button-on-hover-background: hsl(211.7, 100%, 92.9%);
--ck-color-button-on-active-background: hsl(211.7, 100%, 92.9%);
--ck-color-button-on-disabled-background: hsl(211, 15%, 95%);
--ck-color-button-on-color: hsl(218.1, 100%, 58%);
--ck-color-button-action-background: hsl(104, 50.2%, 42.5%);
--ck-color-button-action-hover-background: hsl(104, 53.2%, 40.2%);
--ck-color-button-action-active-background: hsl(104, 53.2%, 40.2%);
--ck-color-button-action-disabled-background: hsl(104, 44%, 58%);
--ck-color-button-action-text: hsl(0, 0%, 100%);
--ck-color-button-save: hsl(120, 100%, 27%);
--ck-color-button-cancel: hsl(15, 100%, 43%);
--ck-color-switch-button-off-background: hsl(0, 0%, 57.6%);
--ck-color-switch-button-off-hover-background: hsl(0, 0%, 49%);
--ck-color-switch-button-on-background: hsl(104, 50.2%, 42.5%);
--ck-color-switch-button-on-hover-background: hsl(104, 53.2%, 40.2%);
--ck-color-switch-button-inner-background: hsl(0, 0%, 100%);
--ck-color-switch-button-inner-shadow: hsla(0, 0%, 0%, 0.1);
--ck-color-dropdown-panel-background: hsl(0, 0%, 100%);
--ck-color-dropdown-panel-border: hsl(220, 6%, 81%);
--ck-color-dialog-background: hsl(0, 0%, 100%);
--ck-color-dialog-form-header-border: hsl(220, 6%, 81%);
--ck-color-input-background: hsl(0, 0%, 100%);
--ck-color-input-border: hsl(220, 6%, 81%);
--ck-color-input-error-border: hsl(15, 100%, 43%);
--ck-color-input-text: hsl(0, 0%, 20%);
--ck-color-input-disabled-background: hsl(0, 0%, 95%);
--ck-color-input-disabled-border: hsl(220, 6%, 81%);
--ck-color-input-disabled-text: hsl(0, 0%, 46%);
--ck-color-list-background: hsl(0, 0%, 100%);
--ck-color-list-button-hover-background: hsl(0, 0%, 94.1%);
--ck-color-list-button-on-background: hsl(218.1, 100%, 58%);
--ck-color-list-button-on-background-focus: hsl(218.1, 100%, 58%);
--ck-color-list-button-on-text: hsl(0, 0%, 100%);
--ck-color-panel-background: hsl(0, 0%, 100%);
--ck-color-panel-border: hsl(220, 6%, 81%);
--ck-color-toolbar-background: hsl(0, 0%, 100%);
--ck-color-toolbar-border: hsl(220, 6%, 81%);
--ck-color-tooltip-background: hsl(0, 0%, 20%);
--ck-color-tooltip-text: hsl(0, 0%, 100%);
--ck-color-engine-placeholder-text: hsl(0, 0%, 44%);
--ck-color-upload-bar-background: hsl(209, 92%, 70%);
--ck-color-link-default: hsl(240, 100%, 47%);
--ck-color-link-selected-background: hsla(201, 100%, 56%, 0.1);
--ck-color-link-fake-selection: hsla(201, 100%, 56%, 0.3);
--ck-color-highlight-background: hsl(60, 100%, 50%);
--ck-color-light-red: hsl(0, 100%, 90%);
--ck-disabled-opacity: .5;
--ck-focus-outer-shadow-geometry: 0 0 0 3px;
--ck-focus-outer-shadow: 0 0 0 3px hsl(212.4, 89.3%, 89%);
--ck-focus-disabled-outer-shadow: 0 0 0 3px hsla(209, 90%, 72%,.3);
--ck-focus-error-outer-shadow: 0 0 0 3px hsla(9,100%,56%,.3);
--ck-focus-ring: 1px solid hsl(218, 81.8%, 56.9%);
--ck-font-size-base: 13px;
--ck-line-height-base: 1.84615;
--ck-font-face: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
--ck-font-size-tiny: 0.7em;
--ck-font-size-small: 0.75em;
--ck-font-size-normal: 1em;
--ck-font-size-big: 1.4em;
--ck-font-size-large: 1.8em;
--ck-ui-component-min-height: 2.3em;
--ck-inner-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.1) inset;
--ck-drop-shadow: 0 1px 2px 1px hsla(0, 0%, 0%, 0.15);
--ck-drop-shadow-active: 0 3px 6px 1px hsla(0, 0%, 0%, 0.2);
--ck-spacing-unit: 0.6em;
--ck-spacing-large: calc(0.6em * 1.5);
--ck-spacing-standard: 0.6em;
--ck-spacing-medium: calc(0.6em * 0.8);
--ck-spacing-small: calc(0.6em * 0.5);
--ck-spacing-tiny: calc(0.6em * 0.3);
--ck-spacing-extra-tiny: calc(0.6em * 0.16);
--ck-icon-size: calc(1.84615 * 1em);
--ck-switch-button-toggle-width: 2.6153846154em;
--ck-switch-button-toggle-inner-size: calc(1.0769230769em + 1px);
--ck-switch-button-translation: calc(
		2.6153846154em -
		calc(1.0769230769em + 1px) -
		2px /* Border */
	);
--ck-switch-button-inner-hover-shadow: 0 0 0 5px hsla(0, 0%, 0%, 0.1);
--ck-collapsible-arrow-size: calc(0.5 * calc(1.84615 * 1em));
--ck-color-grid-tile-size: 24px;
--ck-color-color-grid-check-icon: hsl(212, 81%, 46%);
--ck-labeled-field-view-transition: .1s cubic-bezier(0, 0, 0.24, 0.95);
--ck-labeled-field-empty-unfocused-max-width: 100% - 2 * calc(0.6em * 0.8);
--ck-labeled-field-label-default-position-x: calc(0.6em * 0.8);
--ck-labeled-field-label-default-position-y: calc(0.6 * 13px);
--ck-color-labeled-field-label-background: hsl(0, 0%, 100%);
--ck-input-width: 18em;
--ck-input-text-width: 18em;
--ck-dropdown-max-width: 75vw;
--ck-dropdown-arrow-size: calc(0.5 * calc(1.84615 * 1em));
--ck-list-button-padding: calc(.11 * 1.84615 * 13px)
		calc(.4 * 1.84615 * 13px);
--ck-color-split-button-hover-background: hsl(0, 0%, 92%);
--ck-color-split-button-hover-border: hsl(0, 0%, 70%);
--ck-toolbar-dropdown-max-width: 60vw;
--ck-form-header-height: 44px;
--ck-dialog-overlay-background-color: hsla( 0, 0%, 0%, .5 );
--ck-dialog-drop-shadow: 0px 0px 6px 2px hsl(0deg 0% 0% / 15%);
--ck-dialog-max-width: 100vw;
--ck-dialog-max-height: 90vh;
--ck-balloon-panel-arrow-z-index: calc(1 - 3);
--ck-balloon-border-width: 1px;
--ck-balloon-arrow-offset: 2px;
--ck-balloon-arrow-height: 10px;
--ck-balloon-arrow-half-width: 8px;
--ck-balloon-arrow-drop-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.15);
--ck-color-editable-blur-selection: hsl(0, 0%, 85%);
--ck-balloon-fake-panel-offset-horizontal: 6px;
--ck-balloon-fake-panel-offset-vertical: 6px;
--ck-search-field-view-horizontal-spacing: calc(calc(1.84615 * 1em) + calc(0.6em * 0.8));
--ck-toolbar-spinner-size: 18px;
--ck-color-block-toolbar-button: hsl(0, 0%, 20%);
--ck-block-toolbar-button-size: 1em;
--ck-menu-bar-menu-item-min-width: 18em;
--ck-menu-bar-menu-max-width: 75vw;
--ck-menu-bar-nested-menu-horizontal-offset: 5px;
--ck-menu-bar-menu-panel-max-width: 75vw;
--ck-accessibility-help-dialog-max-width: 600px;
--ck-accessibility-help-dialog-max-height: 400px;
--ck-accessibility-help-dialog-border-color: hsl(220, 6%, 81%);
--ck-accessibility-help-dialog-code-background-color: hsl(0deg 0% 92.94%);
--ck-accessibility-help-dialog-kbd-shadow-color: hsl(0deg 0% 61%);
--ck-widget-type-around-button-size: 20px;
--ck-color-widget-type-around-button-active: hsl(218, 81.8%, 56.9%);
--ck-color-widget-type-around-button-hover: hsl(43, 100%, 62%);
--ck-color-widget-type-around-button-blurred-editable: hsl(0, 0%, 87%);
--ck-color-widget-type-around-button-radar-start-alpha: 0;
--ck-color-widget-type-around-button-radar-end-alpha: .3;
--ck-color-widget-type-around-button-icon: hsl(0, 0%, 100%);
--ck-color-resizer: hsl(218, 81.8%, 56.9%);
--ck-color-resizer-tooltip-background: hsl(0, 0%, 15%);
--ck-color-resizer-tooltip-text: hsl(0, 0%, 95%);
--ck-resizer-border-radius: 2px;
--ck-resizer-tooltip-offset: 10px;
--ck-resizer-tooltip-height: calc(calc(0.6em * 0.5) * 2 + 10px);
--ck-widget-outline-thickness: 3px;
--ck-widget-handler-icon-size: 16px;
--ck-widget-handler-animation-duration: 200ms;
--ck-widget-handler-animation-curve: ease;
--ck-color-widget-blurred-border: hsl(0, 0%, 87%);
--ck-color-widget-hover-border: hsl(43, 100%, 62%);
--ck-color-widget-editable-focus-background: hsl(0, 0%, 100%);
--ck-color-widget-drag-handler-icon-color: hsl(0, 0%, 100%);
--ck-resizer-size: 10px;
--ck-resizer-offset: calc( ( 10px / -2 ) - 2px);
--ck-resizer-border-width: 1px;
--ck-clipboard-drop-target-dot-width: 12px;
--ck-clipboard-drop-target-dot-height: 8px;
--ck-clipboard-drop-target-color: hsl(218, 81.8%, 56.9%);
--ck-color-code-block-label-background: hsl(0, 0%, 46%);
--ck-image-insert-insert-by-url-width: 250px;
--ck-color-image-upload-icon: hsl(0, 0%, 100%);
--ck-color-image-upload-icon-background: hsl(120, 100%, 27%);
--ck-image-upload-icon-size: 20;
--ck-image-upload-icon-width: 2px;
--ck-image-upload-icon-is-visible: clamp(0px, 100% - 50px, 1px);
--ck-color-upload-placeholder-loader: hsl(0, 0%, 70%);
--ck-upload-placeholder-loader-size: 32px;
--ck-upload-placeholder-image-aspect-ratio: 2.8;
--ck-mention-list-max-height: 300px;
--ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
--ck-color-mention-text: hsl(341, 100%, 30%);
--ck-character-grid-tile-size: 24px;
--ck-color-selector-focused-cell-background: hsla(212, 90%, 80%, .3);
--ck-insert-table-dropdown-padding: 10px;
--ck-insert-table-dropdown-box-height: 11px;
--ck-insert-table-dropdown-box-width: 12px;
--ck-insert-table-dropdown-box-margin: 1px;
--ck-table-selected-cell-background: hsla(208, 90%, 80%, .3);
--ck-table-properties-error-arrow-size: 6px;
--ck-table-properties-min-error-width: 150px;
--ck-color-selector-caption-background: hsl(0, 0%, 97%);
--ck-color-selector-caption-text: hsl(0, 0%, 20%);
--ck-color-selector-caption-highlighted-background: hsl(52deg 100% 50%);
--ck-color-selector-column-resizer-hover: hsl(218.1, 100%, 58%);
--ck-table-column-resizer-width: 7px;
--ck-table-column-resizer-position-offset: calc(7px * -0.5 - 0.5px);
--ck-todo-list-checkmark-size: 16px;
}


